@page "/CadastrarArtista"
@inject ArtistasAPI artistasAPI
@inject NavigationManager navigationManager


<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Jusfify="Justify.Center">

    <MudText Class="mt-8" Typo="Typo.h4">Cadastro do Artista</MudText>

    <MudForm>

        <MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
                      Variant="Variant.Outlined"
                      @bind-Value="nome"
                      Required="true"
                      RequiredError="Campo Obrigatório" />

        <MudTextField Class="mt-4" T="string" Placeholder="Biografia do artista"
                      Variant="Variant.Outlined"
                      @bind-Value="biografia"
                      Lines="4"
                      Required="true"
                      RequiredError="Campo Obrigatório" />
        
        <div class="d-flex align-content-center justify-space-between mt-4">
            <div class="d-flex gap-2">

                <MudButton Variant="Variant.Filled"
                           @onclick="Voltar"
                           Color="Color.Info"
                           Class="ml-auto"> 
                     Voltar
                </MudButton>
       
                <MudButton Variant="Variant.Filled"
                           @onclick="Cadastrar"
                           Color="Color.Primary"
                           Class="ml-auto"> 
                     Cadastrar
                </MudButton>
            </div>
        </div>
        
    </MudForm>

</MudPaper>

@code {
    private string? nome;
    private string? biografia;

    private async Task Cadastrar()
    {
        var request = new ArtistaRequest(nome!, biografia!);
        await artistasAPI.AddArtistaAsync(request);
        navigationManager.NavigateTo("/Artistas");
    }

    private void Voltar()
    {
        navigationManager.NavigateTo("/Artistas");
    }

}
